body{
    background: url('../images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.hobby-image {
    display: block;
    margin: 20px auto;
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Ensure the image doesn't get too large */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow effect */
}
